################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EditOwner/EditOwner/bin/Debug/netcoreapp2.0
